.logo {
    border-radius: 50%;
    width: 96px;
    height: 96px;
    background-size: cover;
    background-position: center center;
    background-image: url("https://static.keepo.io/users/514a8df5-a3c9-4fbf-a63d-4cfad7d65b7c/sites/dc5d3286-d201-4e8c-890a-1db5a7e0a915/85f9457c-097e-4f3f-bd4c-3be7a3c9e788-cropped.jpeg");
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header{
    margin-left: 810px;
    margin-top: 30px;
  }


.g1{
    display: flex;
}

h3 {
    font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
}
h1 {
    margin-top: 150px;
    font-weight: 600;
  font-size: 2.5rem;
  line-height: 3rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;

}

h1, h3{
    font-family: "Inter", sans-serif;
    font-style: normal;
  
}

h5 {
    font-family: "Poppins", sans-serif; 
}


.logo, h3 {
    margin-right: -500px;
}

.texto{
    font-family:"Poppins", sans-serif;
  font-style: normal;
}

.g2 {
    text-align: justify; /* Alinha o texto do h5 justificado */
}

.g2 h5 {
    font-family: "Poppins", sans-serif;
    font-size: 1rem; /* Ajuste o tamanho da fonte conforme necessário */
    line-height: 1.5; /* Ajuste o espaçamento entre linhas conforme necessário */
    margin-top: 20px; /* Ajuste o espaçamento superior conforme necessário */
}


.btn-agendar {
    background-color: #333; /* cor de fundo do botão */
    color: #fff; /* cor do texto do botão */
    border: none; /* remove borda padrão do botão */
    border-radius: 20px; /* adiciona borda arredondada */
    padding: 10px 20px; /* adiciona padding ao botão */
    font-family: "Poppins", sans-serif; /* define fonte do botão */
    font-size: 1rem; /* define tamanho da fonte do botão */
    cursor: pointer; /* muda cursor para ponteiro ao passar o mouse sobre o botão */
    text-decoration: none; /* remove underline do link */
}

.btn-agendar:hover {
    background-color: #444; /* muda cor de fundo do botão ao passar o mouse sobre ele */
}

.btn-agendar {
    /*... */
    display: inline-block;
    margin-top: 20px; /* ajuste a margem superior */
    margin-left: 20px; /* ajuste a margem esquerda */
}